name: Build

on:
  push:
  workflow_dispatch:

permissions: {}

jobs:
  build:
    uses: SlashNephy/actions/.github/workflows/build-docker-image.yml@098bad3f838dcb7f95c293d2c4b91e530157644f # v0.0.2
    permissions:
      contents: read
      packages: write
      actions: read
      security-events: write
    with:
      image-name: ghcr.io/slashnephy/glance
