name: Sync Fork

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions: {}

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: gh repo sync ${GITHUB_REPOSITORY} --branch main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
